@layer base {
  html {
    font-family: "Source Sans 3", system-ui, sans-serif;
  }

  body {
    margin: 0;
    background-color: #fbfbfb;
    @apply text-gray-800;
  }

  * {
    box-sizing: border-box;
  }

  textarea::placeholder,
  input::placeholder {
    color: rgba(33, 33, 33, 0.6);
    background-color: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px white;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
